@tailwind base;
@tailwind components;
@tailwind utilities;
@import "katex/dist/katex.min.css";
.katex { 
    font: normal 1.21em KaTeX_Main;
    color: #fff !important;
  }
  .katex-error {
    color: #f87171 !important;
    background-color: transparent !important;
  }